@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

nav#menuHorizontalAicoll {
  @apply bg-[#86b7fe];

  .aicoll-menu-horizontal__logo--container {
    padding: 0;
    background: transparent;
  }

  .link-home {
    background: transparent;
  }
}

p {
  margin-bottom: 0
}

footer {
  @apply bg-[#86b7fe];

  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-group{
  background-color: transparent;
}
.list-group-item{
  background-color: transparent;
  border: none;
}
